@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Source Code Pro', monospace;
    }

    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-color: black;
    }

    /* Hide scrollbars for webkit browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbars for Firefox */
    * {
        scrollbar-width: none;
    }

    /* Hide scrollbars for IE and Edge legacy */
    * {
        -ms-overflow-style: none;
    }
}
